.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}


body {
	background-color: #FFF;
	font-family: 'Comfortaa', sans-serif;
}

/*here we will play with the different element of the table giving the personal details*/
#AboutMe {
	font-size: 11px;
}

#AboutMe th {
	font-style: italic;
	text-align: right;
	font-weight: normal;
}

#AboutMe td {
	padding-left: 10px;
}

#AboutMe td a {
	text-decoration: none;
	color: black;
}

#AboutMe td a:hover {
	text-decoration: underline;
	color: green;
}

.vertical-spacer {
  height: 8em;
}

/*the name apparing on top of the CV page*/
#MyName {
	font-variant: small-caps;
	font-size: 25px;
	font-weight: bold;
}

/*define where the picture will appear + some animation*/
#MyPicture img {
	border-radius: 50%;
	opacity: 0.5;
	filter: blur(0px);
	transition: all 0.5s linear;
}

#MyPicture img:hover {
	border-radius: 50%;
	opacity: 1;
	filter: blur(0px);
	box-shadow: 5px 5px 5px #DDD;
	transform: rotate(10deg) scale(1.1);
}

h2 {
	font-size: 32px;
	font-family: 'Overlock', sans-serif;
	color: #0349A8;
	font-variant: small-caps;
	border-bottom: 3px solid #00275C;
	letter-spacing: 0.4em;
	margin-top: 35px;
}

.description {
	font-weight: bold;
	font-size: 15px;
}

.time {
	font-weight: normal;
	font-style: italic;
	font-size: 11px;
}

#l td {
	font-weight: normal;
	padding: 2.5px;
	font-size: 14px;
}

#cs th {
	text-align: left;
}

/* Footer */

#footer {
  background-color: #222;
  color: #aaaaaa;
  padding-top: 2em;
  padding-bottom: 2em;
  word-spacing: 5em;
}

#footer a {
  color: #cccccc;
}

#footer a:hover {
  color: white;
}

.social a {
  font-size: 24px;
}

.social a:hover {
  text-decoration: none;
}